pyrogram
tgcrypto
hachoir
opencv-python
speedtest-cli
pytz
psutil
motor
GitPython
pykeyboard
Pillow==9.5.0
pymediainfo
requests
attrify
html2text
removebg
aiohttp
telegraph
pyromod==1.1
youtube-search-python
pymongo
yt-dlp
wget
python-dateutil
emoji
uuid
ffmpeg
meval